@import 'styles/main.scss';

.new-card-content{
    &__wrapper{
        background-color: $primary-colors;
        color: map-get($map: $colors, $key: 'white');
        border-radius: $radius-sm;
        padding: $space-sm;
        padding-bottom: 0;
        @include responsive(SM) {
            padding: $space-sm $space-md2;
            padding-bottom: 0;
        }
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $space-sm;
        cursor: pointer;
        span{
            display:inline-flex;
        }
        svg{
            min-width: 2.4rem;
        }
    }
    &__icon{
        cursor: pointer;
        transition: all 0.2s;
        font-size: $text-xl;
        &--active{
            transform: rotate(225deg);
        }
    }
    &__content{
        padding-right: $space-md;
        padding-bottom: $space-md;
        margin-top: $space-xs;
    }
}