@import 'styles/main.scss';

.advisorscreen {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  &__content-wrapper {
    display: flex;
    justify-content: center;
    @include responsive(MD) {
      width: 100%;
      margin: $space-xl2 auto;
    }
  }

  img {
    height: auto;
    width: 100%;
  }
  &__first-content {
    margin-bottom: 25.6rem;
    @include responsive(MD) {
      margin-top: 23.6rem;
      margin-bottom: 32.6rem;
    }
    &::before {
      position: absolute;
      content: '';
      height: 6rem;
      background-image: url('/images/Pink-Cloud.svg');
      top: 50%;
      right: 0;
      transform: translateX(10%);
      translate: translateY(-50%);
      @include responsive(MD) {
        width: 20rem;
      }
    }
    &-wrapper {
      display: flex;
      justify-content: center;
      @include responsive(XXL) {
        width: 83.33333%;
        margin: 0 auto;
      }
    }
    .advisorscreen__content {
      flex-direction: column-reverse;

      @include responsive(MD) {
        flex-direction: row;
        align-items: center;
      }

      h1,
      p,
      h2 {
        margin-bottom: $space-sm2;
      }
      h2 {
        font-weight: 900;
        line-height: 1.25;
      }
      p {
        line-height: 1.4;
      }
      &__col {
        padding: 0 $space-md;
        flex: 1;
        max-width: 100%;
        @include responsive(MD) {
          &:first-child {
            max-width: 40%;
          }
          &:last-child {
            max-width: 60%;
          }
          &:last-child .big-piggy {
            padding-top: 5rem;
            width: 40rem;
          }
        }
      }

      &__col-text {
        h1 {
          font-weight: 600;
          letter-spacing: 0.1rem;
        }
        h2 {
          font-size: $text-xxxl;
          @include responsive(MD) {
            font-size: 5.6rem;
          }
        }
        p:last-child {
          margin-bottom: 0;
        }
      }

      &__col-image {
        position: relative;
        padding-bottom: $space-lg;
        display: flex;
        flex: 0 1 auto;
        max-width: 100%;
        margin: 0 auto;
        @include responsive(MD) {
          max-width: 48rem;
        }
        @include responsive(XXL) {
          div {
            width: 47rem !important;
          }
        }

        .big-piggy {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            background-image: url('/images/PigGreen-Cloud.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 0;
            height: 10rem;
            bottom: 0;
            transform: translateY(50%);
            @include responsive(MD) {
              width: 50rem;
            }
          }
        }

        .small-piggy {
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 0;
          transform: translate(0, -110%);
          div {
            width: 20rem !important;
            margin: 0 !important;
          }
        }
      }
    }
  }

  &__second-benefit {
    position: relative;
    background-color: $primary-colors;
    @include responsive(MD) {
      margin-bottom: $space-xl2;
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      @include responsive(XXL) {
        width: 83.33333%;
        margin: 0 auto;
      }
      h1,
      h3,
      p,
      ul {
        color: map-get($map: $colors, $key: 'white');
      }
      h1,
      h3 {
        line-height: 1.25;
        font-weight: 900;
      }
      ul {
        list-style-type: disc;
        line-height: 1.4;
        padding-left: 25px;
      }
    }
    .advisorscreen__content {
      padding-bottom: 19.2rem;
      flex-direction: column;
      @include responsive(SM) {
        flex-direction: row;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 150px;
        width: 100%;
        border-radius: 50% 50% 0 0;
        --bg-opacity: 1;
        background-color: #242970;
      }
      h1 {
        font-size: $text-xxl;
        margin-bottom: $space-md;
        @include responsive(SM) {
          font-size: $text-xxxl;
          margin-bottom: $space-lg;
        }
      }

      h3 {
        font-size: $text-xxl;
        color: map-get($map: $colors, $key: 'green-second');
      }
      li {
        font-size: $text-md;
        margin-bottom: $space-xs;
        &:last-child {
          margin-bottom: $space-md;
        }
      }
      h3,
      p {
        margin-bottom: $space-md;
      }
      &__col {
        flex: 1;
        max-width: 100%;
        @include responsive(SM) {
          &:first-child {
            max-width: 55%;
          }
          &:last-child {
            position: relative;
            max-width: 45%;
          }
          &:last-child > div {
            width: 35rem;
            position: sticky;
            top: 50%;
            height: auto !important;
          }
        }
        @include responsive(MD) {
          &:first-child {
            max-width: 45%;
          }
          &:last-child {
            position: relative;
            max-width: 55%;
          }
          &:last-child > div {
            width: 35rem !important;
            position: sticky;
            top: 50%;
            height: auto !important;
          }
        }
      }

      &__col-image {
        display: none;
        @include responsive(SM) {
          display: block;
        }
      }
    }

    .cloud1,
    .cloud2 {
      display: none;
      @include responsive(SM) {
        display: block;
      }
    }
    .cloud1 {
      position: absolute;
      left: 0;
      height: 90%;
      max-width: 20rem;
      transform: translateX(-80%);
      img {
        max-width: 20rem;
        position: sticky;
        padding-top: 5rem;
        top: 50%;
      }
    }
    .cloud2 {
      position: absolute;
      right: 0;
      max-width: 20rem;
      height: 90%;

      img {
        position: sticky;
        top: 50%;
      }
    }
  }

  &__third-content {
    margin-bottom: $space-xl2;
    display: flex;
    justify-content: center;
    .advisorscreen__third-content-wrapper {
      @include responsive(XXL) {
        width: 83.33333%;
        margin: 0 auto;
      }
    }
    h2,
    h1,
    p {
      color: map-get($map: $colors, $key: 'green');
    }
    h1 {
      margin-bottom: $space-sm2;
      font-weight: 600;
      letter-spacing: 0.1rem;
      font-size: $text-sm;
    }
    h2 {
      font-size: $text-xxl;
      max-width: 100%;
    }
    .advisorscreen__content {
      flex-direction: column-reverse;
      @include responsive(SM) {
        // width: 83.33333%;
      }
      @include responsive(MD) {
        flex-direction: row-reverse;
        align-items: center;
      }
      &__col {
        max-width: 100%;
        flex: 1;
        h2 {
          font-weight: 900;
          line-height: 1.25;
        }
      }
      &__col-text {
        img {
          max-width: 30rem;
        }
      }
      &__col-image {
        position: relative;
        max-width: 100%;
        height: auto;
        margin-bottom: $space-lg;
        img {
          width: 30rem;
        }

        .sky1,
        .sky2 {
          display: none;
          @include responsive(MD) {
            display: block;
          }
        }

        .sky1 {
          img {
            width: 20rem;
          }
          position: absolute;
          top: 20%;
          left: -10%;
          z-index: -1;
        }
        .sky2 {
          position: absolute;
          bottom: -10%;
          right: 50px;
          z-index: -1;
          img {
            width: 20rem;
          }
        }
      }
    }

    .no-reverse {
      @include responsive(MD) {
        flex-direction: row;
      }
    }
  }

  &__list-card-content {
    margin-bottom: $space-xl2;
    &__wrapper {
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    &__title {
      font-size: $text-xxl;
      margin-bottom: $space-lg;
      font-weight: 900;
      line-height: 1.25;
      span {
        color: map-get($map: $colors, $key: 'green');
      }
      @include responsive(SM) {
        font-size: $text-xxxl;
      }
      @include responsive(XXL) {
        max-width: 76rem;
      }
    }

    &__list-item {
      h3 {
        font-size: $text-md;
        color: map-get($map: $colors, $key: 'white');
        font-weight: 600;
      }
      p {
        font-size: $text-md;
      }
    }
    &__item {
      margin-top: $space-sm2;
    }
    .new-card-content__content {
      p {
        line-height: 1.4;
        font-size: $text-md;
        &:first-child {
          margin-bottom: $space-sm2;
        }
      }
    }
  }

  &__four-content {
    padding: $space-xl2 0;
    background-color: map-get($map: $colors, $key: 'light-green');
    .container {
      display: flex;
      justify-content: center;
    }
    &__wrapper {
      text-align: center;
      padding: 0;
      width: 100%;
      @include responsive(SM) {
        width: 83.33333%;
        padding: 0 $space-md;
      }
      @include responsive(MD) {
        width: 66.66667%;
      }
      @include responsive(XXL) {
        width: 50%;
      }
      h1 {
        font-size: $text-sm;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 1.25rem;
        color: map-get($map: $colors, $key: 'white');
      }
      h2 {
        font-weight: 900;
        color: map-get($map: $colors, $key: 'white');
        margin-bottom: $space-sm2;
        line-height: 1.25;
        font-size: $text-xxxl;
      }
      button {
        margin-top: $space-sm;
        padding: $space-xs2 $space-md;
        font-size: $text-sm;
        font-weight: 900;
        span {
          line-height: 1.4;
        }
      }
    }
  }
}
