@import 'styles/main.scss';

.investingscreen {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  &__content-wrapper {
    display: flex;
    justify-content: center;
    @include responsive(MD) {
      width: 100%;
      margin: $space-xl2 auto;
    }
  }

  img {
    height: auto;
    width: 100%;
  }
  &__first-content {
    position: relative;
    margin-bottom: 25.6rem;
    overflow: hidden;
    &::before {
      position: absolute;
      content: '';
      height: 6rem;
      background-image: url('/images/Pink-Cloud.svg');
      top: 50%;
      right: 0;
      transform: translateX(10%);
      translate: translateY(-50%);
      @include responsive(MD) {
        width: 20rem;
      }
    }
    &-wrapper {
      display: flex;
      justify-content: center;
    }
    .investingscreen__content {
      flex-direction: column-reverse;
      @include responsive(MD) {
        flex-direction: row-reverse;
        align-items: center;
      }
      @include responsive(XXL) {
        margin: 0 auto;
        width: 83.33333%;
      }
      h1,
      h2 {
        margin-bottom: $space-sm2;
      }

      h2 {
        font-weight: 900;
        line-height: 1.25;
      }

      p {
        line-height: 1.4;
      }
      &__col {
        padding: 0 $space-md;
        flex: 1;
        max-width: 100%;
      }

      &__col-text {
        h1 {
          font-weight: 600;
          letter-spacing: 0.1rem;
        }
        h1 strong {
          font-size: $text-md;
        }
        h2 {
          font-size: $text-xxl;
          @include responsive(SM) {
            font-size: $text-xxxl;
          }
        }
      }

      &__col-image {
        position: relative;
        padding-bottom: $space-lg;
        display: flex;
        max-width: 40rem;
        margin: 0 auto;
        @include responsive(MD) {
          max-width: 48rem;
        }
        .sky1,
        .sky2 {
          display: none;
          @include responsive(MD) {
            display: block;
          }
        }
        .sky1 {
          img {
            width: 20rem;
          }
          position: absolute;
          top: 20%;
          left: -30%;
          z-index: -1;
        }
        .sky2 {
          position: absolute;
          top: 70%;
          right: 50px;
          z-index: -1;
          img {
            width: 20rem;
          }
        }
      }
    }
  }

  &__second-benefit {
    margin-bottom: $space-xl2;
    position: relative;
    background-color: $primary-colors;

    &-wrapper {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      @include responsive(MD) {
        width: 83.33333%;
      }

      h1,
      h3,
      p,
      ul {
        color: map-get($map: $colors, $key: 'white');
      }
      h1,
      h3 {
        line-height: 1.25;
        font-weight: 900;
      }
      ul {
        list-style-type: disc;
        line-height: 1.4;
        padding-left: 25px;
      }
    }
    .investingscreen__content {
      padding-bottom: 19.2rem;
      flex-direction: column;
      @include responsive(SM) {
        flex-direction: row;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 150px;
        width: 100%;
        border-radius: 50% 50% 0 0;
        --bg-opacity: 1;
        background-color: #242970;
      }
      h1 {
        font-size: $text-xxl;
        margin-bottom: $space-md;
        @include responsive(SM) {
          font-size: $text-xxxl;
          margin-bottom: $space-lg;
        }
      }

      h3 {
        font-size: $text-xl;
        color: map-get($map: $colors, $key: 'green-second');
      }
      li {
        font-size: $text-md;
        margin-bottom: $space-xs;
        &:last-child {
          margin-bottom: $space-md;
        }
      }
      h3,
      p {
        margin-bottom: $space-md;
      }
      &__col {
        flex: 1;
        max-width: 100%;
        @include responsive(SM) {
          &:first-child {
            max-width: 60%;
          }
          &:last-child {
            position: relative;
            max-width: 40%;
          }
          &:last-child > div {
            max-width: 37rem;
            position: sticky;
            top: 50%;
            height: auto !important;
          }
        }
        @include responsive(MD) {
          &:first-child {
            max-width: 50%;
          }
          &:last-child {
            position: relative;
            max-width: 50%;
          }
        }
      }
      &__col-image {
        display: none;
        @include responsive(SM) {
          display: block;
        }
      }
    }
    .sky1,
    .sky2 {
      display: none;
      @include responsive(SM) {
        display: block;
      }
    }
    .sky1 {
      position: absolute;
      left: 0;
      height: 90%;
      max-width: 20rem;
      transform: translateX(-80%);
      img {
        max-width: 20rem;
        position: sticky;
        padding-top: 5rem;
        top: 50%;
      }
    }
    .sky2 {
      position: absolute;
      right: 0;
      max-width: 20rem;
      height: 90%;

      img {
        position: sticky;
        top: 50%;
      }
    }
  }

  &__third-content {
    margin-bottom: $space-md2;

    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    h2 {
      font-weight: 900;
      text-align: center;
      line-height: 1.25;
    }
    h4 {
      font-size: $text-xl;
      font-weight: 900;
      margin-bottom: $space-sm;
      line-height: 1.2;
    }
    p {
      text-align: center;
    }
    &-top {
      margin-bottom: 6.4rem;
      h2 {
        font-size: $text-xxl;
        margin-bottom: $space-sm;
        @include responsive(SM) {
          font-size: $text-xxxl;
        }
      }
      p {
        line-height: 1.5;
        @include responsive(SM) {
          max-width: 60rem;
          margin-left: auto;
          margin-right: auto;
        }
        @include responsive(XXL) {
          max-width: 80rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .investingscreen__content {
      flex-direction: column;
      @include responsive(XS) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__col {
        max-width: 100%;
        flex: 1;
        margin-bottom: 6.4rem;
        img {
          max-width: 150px;
          margin: 0 auto $space-md2;
        }
        @include responsive(XS) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @include responsive(MD) {
          max-width: 33.3333%;
          flex: 0 0 50%;
        }
      }
      h3 {
        text-align: left;
        margin-bottom: $space-sm2;
      }

      &-image {
        margin-bottom: $space-sm2;
        width: 100%;
      }

      .no-reverse {
        flex-direction: column;
      }
    }
  }

  &__four-content {
    margin-bottom: $space-xl2;
    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    h2 {
      font-weight: 900;
      text-align: center;
      line-height: 1.25;
    }
    h4 {
      font-size: $text-xl;
      font-weight: 900;
      margin-bottom: $space-sm;
      line-height: 1.2;
    }

    &-top {
      margin-bottom: 6.4rem;
      h2 {
        font-size: $text-xxl;
        margin-bottom: $space-sm;
        @include responsive(SM) {
          font-size: $text-xxxl;
        }
      }
      p {
        line-height: 1.5;
      }
    }

    .investingscreen__content {
      flex-direction: column;
      @include responsive(XS) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__col {
        max-width: 100%;
        flex: 1;
        margin-bottom: 6.4rem;
        img {
          max-width: 150px;
          margin: 0 auto $space-md2;
        }
        @include responsive(XS) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @include responsive(MD) {
          max-width: 33.3333%;
          flex: 0 0 50%;
        }
      }
      h3 {
        text-align: left;
        margin-bottom: $space-sm2;
      }

      &-image {
        margin-bottom: $space-sm2;
        width: 100%;
      }

      .no-reverse {
        flex-direction: column;
      }
    }
  }

  &__five-content {
    .investingscreen__five-content-wrapper {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: $space-xl2;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    h2,
    p {
      margin-bottom: $space-sm2;
    }
    h2 {
      font-size: $text-xxl;
    }
    .investingscreen__content {
      flex-direction: column-reverse;

      @include responsive(MD) {
        flex-direction: row-reverse;
        align-items: center;
      }
      h2 {
        font-weight: 900;
        line-height: 1.25;
      }

      h4 {
        font-size: $text-xl;
        font-weight: 900;
        line-height: 1.25;
      }

      button {
        padding: $space-xs2 $space-md;
        font-weight: 900;
        font-size: $text-sm;
        margin-top: $space-md2;
        span {
          line-height: 1.4;
        }
      }

      &__col {
        h2 {
          margin-bottom: $space-sm;
          @include responsive(SM) {
            font-size: $text-xxxl;
          }
        }
        h4 {
          margin-bottom: $space-sm;
        }
        max-width: 100%;
      }
      &__col-image {
        width: 100%;
        margin-bottom: $space-lg;
      }
    }

    .no-reverse {
      @include responsive(MD) {
        flex-direction: row;
      }
    }
  }

  &__six-content {
    padding: $space-xl2 0;
    background-color: $primary-colors;
    text-align: center;
    margin-bottom: $space-xl2;

    h2,
    p {
      font-weight: 900;
      line-height: 1.25;
      color: map-get($map: $colors, $key: 'white');
      margin-bottom: $space-sm2;
    }
    h2 {
      font-size: $space-md2;
      @include responsive(SM) {
        font-size: $text-xxxl;
        width: 70%;
        margin: 0 auto;
        margin-bottom: $space-sm;
      }
      @include responsive(XXL) {
        width: 56rem;
      }
    }
    p {
      font-size: $space-md;
    }
    button {
      padding: $space-xs2 $space-md;
      font-weight: 900;
      font-size: $text-sm;
      background-color: map-get($map: $colors, $key: 'white') !important;
      color: $primary-colors !important;
    }
  }
}
