@import 'styles/main.scss';

.layout-content-wrapper {
  padding-top: calc(62px);
}

.detailscreen {
  img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    object-fit: cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  &__content-wrapper {
    margin: 0 auto;
    @include responsive(XS) {
      width: 100%;
    }
    @include responsive(XXL) {
      width: 83.33333%;
    }
  }

  &__banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 62px);
    h2 {
      color: map-get($map: $colors, $key: 'white');
    }
    &-title {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      font-weight: 900;
      font-size: $text-xxl;
      z-index: 2;
      @include responsive(MD) {
        font-size: $text-xxxl;
      }
    }
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0.7;
    }
  }
  &__article {
    padding: $space-xl2 0;
    &-back {
      display: flex;
      align-items: center;
      margin-bottom: $space-md2;
      cursor: pointer;
      p {
        font-weight: 600;
        font-size: $text-sm;
        display: flex;
        line-height: $text-sm;
      }
      p:hover {
        text-decoration: underline;
      }
      .back-link-icon {
        font-size: 10px;
        margin-right: $space-xs;
        display: flex;
        align-items: center;
      }
    }
    &-audio {
      width: 100%;
      height: 6rem;
      margin: $space-sm 0;
      audio {
        width: 100%;
      }
    }
    &__tags {
      &-item {
        color: map-get($map: $colors, $key: 'white');
        background-color: map-get($map: $colors, $key: 'black');
        width: max-content;
        padding: $space-xs $space-sm;
        border-radius: $radius-md2;
        display: inline-block;
        font-size: $text-xs;
        font-weight: 600;
        margin-right: $space-xs;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: map-get($map: $colors, $key: 'blue');
        }
      }
    }
  }
}
