@import 'styles/main.scss';

.contact-screen{
    margin: $space-xl2 0;
    padding-top: $space-xl;

    &__wrapper{
        width: 100%;
        @include responsive(XXL){
            width: 83.333333%;
        }
    }

    &__box-animation{
        max-width: 40rem;
    }

    &__col-left{
        margin-bottom: $space-md2;
        @include responsive(MD){
            max-width: 58.333333%;
            flex: 0 0 58.333333%;
            margin-bottom: 0;
        }
        &__top{
            font-size: $text-sm;
            letter-spacing: 0.1em;
            font-weight: 600;
            margin-bottom: $space-sm2;
            line-height: 1.2;
        }
        h1{
            font-size: $text-xxxl;
            color: map-get($map: $colors, $key: 'green');
            font-weight: 900;
            margin-bottom: $space-sm2;
            line-height: 1.2;
            @include responsive(SM){
                font-size: $text-4xl;
            }
        }
        &__text{
            font-size: $text-md;
            line-height: 1.4;
        }
    }

    &__col-right{
        @include responsive(MD){
            max-width: 41.666667%;
            flex: 0 0 41.666667%;
        }
        &__row{
            margin-bottom: $space-md;
        }
        &__item{
            display: block;
            margin-bottom: $space-md;
            @include responsive(SM){
                display: flex;
            }
            span{
                width: 25%;
                font-weight: 600;
                font-size: $text-sm;
            }
            textarea {
                max-height: 14rem;
                height: 14rem;
                resize: none;
            }
            .ant-input{
                outline: none;
                box-shadow: none;
                color: $primary-colors;
                font-size: $text-sm;
                border: 2px solid map-get($map: $colors, $key: 'grey');
                background-color: map-get($map: $colors, $key: 'grey');
                font-weight: 600;
                &:hover{
                  border: 2px solid map-get($map: $colors, $key: 'grey');
                  border-right-width: 2px !important;
                }
                &:focus{
                  border-color: $primary-colors;
                  box-shadow: none;
                  border-right-width: 2px !important;
                }
            }
        }
        &__btnWrapper{
            width: 100%;
            text-align: right;
            button{
                border-radius: unset;
                font-size: $text-sm;
                background-color: transparent !important;
                color: $primary-colors!important;
                font-weight: normal;
                padding: $space-xs2 $space-sm;
                &:hover {
                    border-radius: unset!important;
                    background-color: $primary-colors !important;
                    color: map-get($map: $colors, $key:'white')!important;
                }
            }
        }
    }
}