@import 'styles/main.scss';

.login-screen {
  padding-top: $space-lg2;
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;

  width: 100%;

  h3,
  p {
    color: map-get($map: $colors, $key: 'black');
  }
  button {
    width: 100%;
    padding: 1.2rem $space-md;
    font-weight: normal !important;
    height: 4.3rem;
    background-color: $primary-colors !important;
    color: map-get($map: $colors, $key: 'white') !important;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .overlay-blur {
    filter: blur(4px);

    @include responsive(SM) {
      filter: unset;
    }
  }
  .mb-0 {
    margin-bottom: 0;
  }

  .focused {
    top: 0.5rem !important;
  }

  &__wrapper {
    max-width: 40rem;
    margin: 0 auto;
  }

  &__form {
    text-align: center;
    h3 {
      font-size: $text-xl;
      font-weight: 600;
      margin-top: $space-sm2;
      margin-bottom: $space-xs2;
      @include responsive(MD) {
        font-size: $text-xxl;
      }
    }
    p {
      margin-top: $space-xs2;
      margin-bottom: $space-sm2;
      line-height: 1;
    }

    // custom form, input ant design
    .form-item {
      position: relative;
      .ant-form-item-label {
        position: absolute;
        z-index: 2;
        top:  2.3rem;
        left: 1rem;
        color: $primary-colors;
        transform: translateY(-50%);
        transition: all 0.15s ease-out;
        label {
          height: auto;
          color: $primary-colors;
        }
        label:before,
        label:after {
          content: '';
        }
      }

      &:first-child .ant-input[type='text'] {
        border: 2px solid $primary-colors;
        height: 4.6rem;
        box-sizing: border-box;
        padding: 22px 15px 4px 11px !important;
      }
      .ant-input-password {
        border: 2px solid $primary-colors;
        height: 4.6rem;
        input {
          box-sizing: border-box;
          padding: 22px 0px 4px 0px !important;
        }
        &:before {
          display: none;
        }
      }
    }
    .form-item--isFocus, .form-item--isFocusEmail{
      .ant-form-item-label {
        top: 0;
        transform: translateY(0);
      }
    }
  }

  &__line {
    max-width: 395px;
    margin: 10px auto;
    height: 30px;
    position: relative;
    .line {
      border-bottom: 1px solid #ccc;
      left: 0;
      right: 0;
      position: absolute;
      margin: 15px 0;
    }
    .text {
      text-align: center;
      color: #474747;
      padding: 5px 0;
      display: inline-block;
      background-color: white;
      position: absolute;
      width: 40px;
      font-size: $text-xs;
      left: calc(50% - 20px);
    }
  }

  &__options {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      border-radius: $radius-xs;
      height: 4.6rem;
      margin-bottom: $space-xs2;
      cursor: pointer;
      p {
        font-size: $text-xs;
      }
      img,
      span,
      svg {
        width: 2rem;
        height: 2rem;
        margin-left: 2rem;
        @include responsive(MD) {
          margin-left: 6rem;
        }
      }
    }
    .option-facebook {
      background-color: map-get($map: $colors, $key: 'blue-second');
      color: map-get($map: $colors, $key: 'white');
      p {
        color: map-get($map: $colors, $key: 'white');
      }
    }
    .option-apple {
      background-color: black;
      color: map-get($map: $colors, $key: 'white');
      p {
        color: map-get($map: $colors, $key: 'white');
      }
    }
  }

  &__direction {
    display: flex;
    justify-content: space-around;
    margin: $space-sm2 0;
    p {
      font-weight: 600;
      color: $primary-colors;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// custom ant design
.ant-form-item-explain {
  text-align: left;
  font-style: italic;
  margin-bottom: 0.4rem;
}

.ant-message {
  top: 0 !important;
  &-notice {
    padding: 0 !important;
  }
}

.ant-message-notice-content {
  width: 100%;
  box-shadow: none !important;
  padding: 0 !important;
}
.ant-message-error {
  padding: 1.4rem 1.6rem !important;
  background-color: map-get($map: $colors, $key: 'red-second') !important;
  width: 100%;
  border-top: 4px solid map-get($map: $colors, $key: 'red-third') !important;
  .anticon-close-circle {
    display: none !important;
  }
}

.ant-message-success {
  padding: 1.4rem 1.6rem !important;
  background-color: map-get($map: $colors, $key: 'light-blue') !important;
  color: map-get($map: $colors, $key: 'white');
  width: 100%;
  .anticon-check-circle {
    display: none !important;
  }
}
