@import 'styles/main.scss';

.financialadvisorscreen {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  &__content-wrapper {
    display: flex;
    justify-content: center;
    @include responsive(MD) {
      width: 100%;
      margin: $space-xl2 auto;
    }
  }

  img {
    height: auto;
    width: 100%;
  }
  &__first-content {
    margin-bottom: $space-xl2;
    @include responsive(MD) {
      margin-top: 17.6rem;
    }
  }

  &__first-content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include responsive(XXL) {
      width: 83.3333%;
    }
    &::before {
      position: absolute;
      content: '';
      height: 6rem;
      background-image: url('/images/Pink-Cloud.svg');
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      @include responsive(MD) {
        width: 20rem;
      }
    }

    .financialadvisorscreen__content {
      flex-direction: column-reverse;
      @include responsive(MD) {
        align-items: center;
        flex-direction: row;
      }

      h1,
      p,
      h2 {
        margin-bottom: $space-sm2;
      }

      h2 {
        font-weight: 900;
        line-height: 1.25;
      }

      p {
        line-height: 1.4;
      }
      &__col {
        padding: 0 $space-md;
        flex: 1;
        max-width: 100%;
      }

      &__col-text {
        h1 {
          font-weight: 600;
          letter-spacing: 0.1rem;
        }
        h1 strong {
          font-size: $text-md;
        }
        h2 {
          font-size: $text-xxl;
          @include responsive(SM) {
            font-size: $text-xxxl;
          }
        }
      }

      &__col-image {
        position: relative;
        padding-bottom: $space-lg;
        display: flex;
        max-width: 40rem;
        margin: 0 auto;
        flex: 0 1 auto;
        @include responsive(MD) {
          max-width: 48rem;
        }
        .sky1,
        .sky2 {
          display: none;
          @include responsive(MD) {
            display: block;
          }
        }
        .sky1 {
          img {
            width: 20rem;
          }
          position: absolute;
          top: -20%;
          right: 0;
          z-index: -1;
        }
        .sky2 {
          position: absolute;
          bottom: -10rem;
          left: 0;
          z-index: -1;
          img {
            width: 20rem;
          }
        }
      }
    }
  }

  &__third-content {
    margin-bottom: $space-md2;
    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    h2 {
      font-weight: 900;
      text-align: center;
      line-height: 1.25;
    }
    h4 {
      font-size: $text-xl;
      font-weight: 900;
      margin-bottom: $space-sm;
      line-height: 1.2;
    }

    &-top {
      margin-bottom: 6.4rem;
      h2 {
        font-size: $text-xxl;
        margin-bottom: $space-sm;
        @include responsive(SM) {
          font-size: $text-xxxl;
        }
      }
      p {
        line-height: 1.5;
      }
    }

    .financialadvisorscreen__content {
      flex-direction: column;
      @include responsive(XS) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__col {
        max-width: 100%;
        flex: 1;
        margin-bottom: 6.4rem;
        img {
          max-width: 150px;
          margin: 0 auto $space-md2;
        }
        @include responsive(XS) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @include responsive(MD) {
          max-width: 33.3333%;
          flex: 0 0 50%;
        }
      }
      h3 {
        text-align: left;
        margin-bottom: $space-sm2;
      }

      &-image {
        margin-bottom: $space-sm2;
        width: 100%;
      }

      .no-reverse {
        flex-direction: column;
      }
    }
  }

  &__four-content {
    margin-bottom: $space-md2;
    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    h2 {
      font-weight: 900;
      text-align: center;
      line-height: 1.25;
    }
    h4 {
      font-size: $text-xl;
      font-weight: 900;
      margin-bottom: $space-sm;
      line-height: 1.2;
    }

    &-top {
      margin-bottom: 6.4rem;
      h2 {
        font-size: $text-xxl;
        margin-bottom: $space-sm;
        @include responsive(SM) {
          font-size: $text-xxxl;
        }
      }
      p {
        line-height: 1.5;
      }
    }

    .financialadvisorscreen__content {
      flex-direction: column;
      @include responsive(XS) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__col {
        max-width: 100%;
        flex: 1;
        margin-bottom: 6.4rem;
        img {
          max-width: 150px;
          margin: 0 auto $space-md2;
        }
        @include responsive(XS) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @include responsive(MD) {
          max-width: 33.3333%;
          flex: 0 0 50%;
        }
      }
      h3 {
        text-align: left;
        margin-bottom: $space-sm2;
      }

      &-image {
        margin-bottom: $space-sm2;
        width: 100%;
      }

      .no-reverse {
        flex-direction: column;
      }
    }
  }

  &__six-content {
    padding: $space-xl2 0;
    background-color: $primary-colors;
    text-align: center;
    margin-bottom: $space-xl2;

    h2,
    p {
      font-weight: 900;
      line-height: 1.25;
      color: map-get($map: $colors, $key: 'white');
      margin-bottom: $space-sm2;
    }
    h2 {
      font-size: $space-md2;
      @include responsive(SM) {
        font-size: $text-xxxl;
        width: 70%;
        margin: 0 auto;
        margin-bottom: $space-sm;
      }
    }
    p {
      font-size: $space-md;
    }
    button {
      padding: $space-xs2 $space-md;
      font-weight: 900;
      font-size: $text-sm;
      background-color: map-get($map: $colors, $key: 'white') !important;
      color: $primary-colors !important;
    }
  }

  &__list-card-content {
    margin: $space-xl2 0;
    &__wrapper {
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    &__title {
      font-size: $text-xxl;
      font-weight: 900;
      margin-bottom: $space-lg;
      span {
        color: map-get($map: $colors, $key: 'green');
      }
    }
    &__list-item {
      h3 {
        font-size: $text-md;
        color: map-get($map: $colors, $key: 'white');
        font-weight: 600;
      }
      p {
        font-size: $text-md;
      }
    }
    &__item {
      margin-top: $space-sm2;
    }
    .new-card-content__content {
      p {
        line-height: 1.4;
        font-size: $text-md;
        &:first-child {
          margin-bottom: $space-sm2;
        }
      }
    }
  }
}
