@import 'styles/main.scss';

.header-wrapper {
  padding: $space-sm 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: map-get($map: $colors, $key: 'white');
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    font-weight: bold;
    color: map-get($map: $colors, $key: 'light-green');
    img {
      max-width: 12.5rem;
      width: 100%;
      @include responsive(SM) {
        max-width: 20rem;
      }
    }
    a:before {
      height: 0;
    }
  }
  &__navbar {
    text-transform: uppercase;
    align-items: center;
    display: none;
    @include responsive(MD) {
      display: flex;
    }
    &__item {
      position: relative;
      margin-right: $space-sm;
      &:last-child {
        margin-right: 0;
      }
      span {
        margin-right: 0.3rem;
      }
      &--active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    a {
      display: flex;
      align-items: center;
      font-weight: 600;
      letter-spacing: 0.1em;
      svg {
        font-size: 0.8rem;
      }
      &::before {
        height: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    button {
      span {
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
    &--mobile {
      display: block;
      @include responsive(MD) {
        display: none;
      }
      svg {
        font-size: $text-xxl;
      }
    }
  }
}

.header__navbar__dropdown {
  display: flex;
  flex-direction: column;
  padding-top: $space-xs2;
  .header__navbar__item {
    margin-top: $space-sm;
    a {
      text-transform: uppercase;
      font-weight: 600;
    }

    ul {
      margin-top: $space-xs2;
      li {
        margin-bottom: $space-xs;
        a {
          font-size: $text-sm;
          font-weight: normal;
          text-transform: none;
        }
      }
    }
    svg {
      font-size: 0.8rem;
    }

    &--active {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.header__dropdown {
  position: absolute;
  top: 100%;
  left: -1rem;
  width: 20rem;
  padding: 0 $space-sm 0.5rem;
  margin-top: 2.4rem;

  border-radius: 0 0 0.25rem 0.25rem;
  border: 1px solid #d5d5d5;
  border-top: none;

  background-color: map-get($map: $colors, $key: 'white');

  li {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: $space-xs/2;
    p {
      text-transform: capitalize;
      font-size: $text-sm;
    }
    p:hover {
      text-decoration: underline;
    }
  }

  &-user {
    width: max-content;
  }
}

.header__dropdown--mobile {
  display: block;
  @include responsive(MD) {
    display: none !important;
  }
}
