@import 'styles/main.scss';

.notfoundscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19rem;
  margin-bottom: 6rem;
  &__title {
    font-size: $text-xxxl;
    text-align: center;
    margin-bottom: 1.25rem;
    font-weight: 900;
  }
  &__content {
    text-align: center;
    font-size: $text-lg;
    & p {
      margin-top: 1rem;
      font-size: $text-lg;
    }
  }
}
