@import "styles/main.scss";

.homescreen {
  
  @include responsive(MD) {
    padding-top: $space-xl;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  &__content-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: $space-xl2;
    @include responsive(MD) {
      width: 100%;
      margin: $space-xl2 auto;
    }
    @include responsive(XXL) {
      width: 83.33333%;
    }
    img {
      height: auto;
      max-width: 100%;
      width: 30rem;
    }
    &:first-child{
      img{
        width: 100%;
        height: unset;
      }
    }
  }

  &__content {
    color: $primary-colors;
    flex-direction: column-reverse;
    .ant-col{
      min-height: unset;
    }
    @include responsive(MD) {
      flex-direction: row;
    }
    h1,
    h2 {
      margin-bottom: $space-sm2;
    }

    h2 {
      font-weight: 900;
      line-height: 1.25;
    }

    p {
      line-height: 1.4;
    }

    button {
      padding: $space-xs2 $space-md;
      font-weight: 900;
      font-size: $text-sm;
      margin-top: $space-sm;
      span{
        line-height: 1.4;
      }
    }

    &__col {
      padding: 0 $space-md;
      flex: 1;
      max-width: 100%;
      @include responsive(MD) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    &__col-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        font-weight: 600;
        letter-spacing: 0.1em;
      }
    }
    &__col-image{
      margin-bottom: $space-lg;
      @include responsive(MD){
        margin-bottom: 0;
      }
    }
  }
  .no-reverse{
    flex-direction: column;
    @include responsive(MD) {
      flex-direction: row;
    }
  }
  
  &__second-content {
    background-color: $primary-colors;
    padding: $space-xl2 0;
    color: map-get($map: $colors, $key: "white");
    h3 {
      color: map-get($map: $colors, $key: "white");
      font-size: 3.2rem;
      text-align: center;
      font-weight: 900;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      @include responsive(SM){
        width: 83.33333%;
        padding: 0 $space-md;
      }
      @include responsive(MD){
        width: 66.66667%;
      }
      @include responsive(XXL){
        width: 50%;
      }
      img {
        margin-bottom: $space-sm;
        max-width: 100%;
      }
      h3 {
        margin-bottom: $space-sm;
        line-height: 1.2;
      }
      label {
        font-size: $text-xs;
        margin-bottom: 0.4rem;
      }
      input {
        width: 100%;
        display: block;
        width: 100%;
        padding: $space-xs2 $space-sm $space-xs;
        background-color: #fff;
        border: none;
        color: $primary-colors;
        font-size: $text-xs;
        margin-bottom: $space-sm2;
      }
    }

    &__button {
      margin-top: $space-lg;
      padding: $space-xs2 $space-sm;
      font-size: $text-sm;
      font-weight: 900;
      span{
        line-height: 1.4;
      }
      &:hover {
        background-color: map-get($map: $colors, $key: "white");
        color: $primary-colors;
      }
    }
  }

  &__third-content {
    margin: $space-xl2 0;
    .container {
      text-align: center;
    }

    h2 {
      margin-bottom: $space-sm2;
      font-size: $text-xxxl;
      font-weight: 900;
    }
    h4 {
      font-size: $text-xl;
      font-weight: 900;
      margin-bottom: $space-sm2;
      line-height: 1.2;
    }
    button {
      margin-top: $space-sm;
      margin-bottom: $space-sm2;
      padding: $space-xs2 $space-md;
      font-size: $text-sm;
      font-weight: 900;
      span{
        line-height: 1.4;
      }
    }
  }
  &__four-content {
    padding: $space-xl2 0;
    background-color: map-get($map: $colors, $key: "light-green");
    .container {
      display: flex;
      justify-content: center;
    }
    &__wrapper {
      text-align: center;
      padding: 0;
      width: 100%;
      @include responsive(SM){
        width: 83.33333%;
        padding: 0 $space-md;
      }
      @include responsive(MD){
        width: 66.66667%;
      }
      @include responsive(XXL){
        width: 50%;
      }
      h2 {
        font-weight: 900;
        color: map-get($map: $colors, $key: "white");
        margin-bottom: $space-sm2;
        line-height: 1.25;
      }
      button {
        margin-top: $space-sm;
        padding: $space-xs2 $space-md;
        font-size: $text-sm;
        font-weight: 900;
        span{
          line-height: 1.4;
        }
      }
    }
  }

  &__list-brand {
    margin: $space-xl2 0;
    .container {
      display: flex;
      justify-content: center;
    }
    // .ant-col{
    //   display: flex;
    //   justify-content: center;
    // }
    &__wrapper {
      padding: 0 $space-md;
      text-align: center;
      width: 100%;
      @include responsive(SM){
        width: 83.33333%;
        padding: 0 $space-md;
      }
      @include responsive(MD){
        width: 66.66667%;
      }
      @include responsive(XXL){
        width: 50%;
      }
      img {
        width: 100%;
      }
      h3 {
        font-size: $text-xxl;
        font-weight: 900;
      }
    }
  }

  &__list-card-content {
    margin: $space-xl2 0;
    &__wrapper {
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL){
        width: 83.33333%;
      }
    }
    &__title {
      font-size: $text-xxl;
      font-weight: 900;
      margin-bottom: $space-lg;
      span{
        color: map-get($map: $colors, $key: 'green')
      }
    }
    &__list-item {
      h3{
        font-size: $text-md;
        color: map-get($map: $colors, $key: 'white');
        font-weight: 600;
      }
      p{
        font-size: $text-md;
      }
    }
    &__item {
      margin-top: $space-sm2;
    }
    .new-card-content__content {
      p {
        line-height: 1.4;
        font-size: $text-md;
        &:first-child {
          margin-bottom: $space-sm2;
        }
      }
    }
  }
}
