@import 'styles/main.scss';

.signup-screen {
  padding-top: $space-lg2;
  &__wrapper {
    max-width: 40rem;
    margin: 0 auto;
  }
  .process-bar {
    width: 100%;
    .filter {
      height: 7px;
      background-color: map-get($map: $colors, $key: 'green-second');
      transition: width 0.7s ease-out;
      @include responsive(SM) {
        height: 14px;
      }
    }
  }
  h4 {
    font-size: $text-lg;
    font-weight: 900;
    margin: $space-xs2 0;
    color: $primary-colors;
    line-height: 1.25;
    text-align: center;
    @include responsive(SM) {
      margin: $space-lg 0;
    }
  }
  h5 {
    color: $primary-colors;
    margin-bottom: $space-xs2;
  }

  button {
    width: 100%;
    font-weight: normal;
    padding: $space-sm 0;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .spinner {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 15;
    background-color: #fff;
  }

  .signup-success,
  .signup-error {
    text-align: center;
  }
  .signup-success {
    color: map-get($map: $colors, $key: 'blue-second');
  }
  .signup-error {
    color: red;
  }

  .form-item {
    position: relative;
    .ant-form-item-label {
      position: absolute;
      z-index: 2;
      top: 2.3rem;
      left: 1rem;
      // font-size: $text-md;
      color: $primary-colors;
      transform: translateY(-50%);
      transition: all 0.15s ease-out;
      label {
        height: auto;
        color: $primary-colors;
      }
      label:before,
      label:after {
        content: '' !important;
      }
    }

    &:first-child .ant-input[type='text'],
    &:nth-child(2) .ant-input[type='text'],
    &:nth-child(5) .ant-input[type='text'] {
      border: 2px solid $primary-colors;
      height: 4.6rem;
      box-sizing: border-box;
      padding: 22px 15px 4px 11px !important;
    }
    .ant-input-password {
      border: 2px solid $primary-colors;
      height: 4.6rem;
      input {
        box-sizing: border-box;
        padding: 22px 0px 4px 0px !important;
      }
      &:before {
        display: none;
      }
    }
    .ant-input-affix-wrapper-focused {
      border: 2px solid $primary-colors;
    }
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      border: 2px solid $primary-colors;
    }
  }
  .form-item--isFocus{
    .ant-form-item-label {
      top: 0;
      transform: translateY(0);
    }
  }

  &__line {
    max-width: 395px;
    margin: 10px auto;
    height: 30px;
    position: relative;
    .line {
      border-bottom: 1px solid #ccc;
      left: 0;
      right: 0;
      position: absolute;
      margin: 15px 0;
    }
    .text {
      text-align: center;
      color: #474747;
      padding: 5px 0;
      display: inline-block;
      background-color: white;
      position: absolute;
      width: 40px;
      font-size: $text-xs;
      left: calc(50% - 20px);
    }
  }

  &__options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__list {
      display: flex;
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
        padding: 0.7rem;
        box-sizing: content-box;
        margin: $space-xs2;
        cursor: pointer;
      }
    }

    .option-google {
      border: 1px solid map-get($map: $colors, $key: 'black');
      border-radius: 50%;
    }
    .option-facebook {
      background-color: map-get($map: $colors, $key: 'blue-second');
      color: map-get($map: $colors, $key: 'white');
      border-radius: 50%;
    }
    .option-apple {
      background-color: black;
      color: map-get($map: $colors, $key: 'white');
      border-radius: 50%;
    }
  }
  &__direction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $space-sm2 0;
    a {
      font-weight: 600;
      color: $primary-colors;
      padding-left: $space-xs;
      text-decoration: underline;
    }
  }
}
