@import 'styles/main.scss';

.animating-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  text-align: center;
  display: block;
  z-index: 45;
  .background-transition {
    position: absolute;
    background: #428235;
    z-index: 9;
    -webkit-animation: expandBackground 5s;
    animation: expandBackground 5s;
  }
  .inner-text {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-top: 100px;

    h1,
    p {
      color: white;
      font-weight: 600;
      padding-bottom: $space-sm2;
    }
    h1 {
      font-size: $text-md;
    }
  }
}
.showAnimation {
  display: block;
}
.introduction-screen {
  position: relative;
  padding-top: $space-lg2;

  @keyframes animateClouds-age {
    0% {
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
    }
    100% {
      background-position: 8% 133px, 83% 175px, -7% 340px, 119% 380px, 39% 520px, 82% 691px;
    }
  }

  @keyframes animateClouds-feel {
    0% {
      background-position: 8% 133px, 83% 175px, -7% 340px, 119% 380px, 39% 520px, 82% 691px;
    }
    100% {
      background-position: 10% 93px, 84% 115px, -7% 250px, 100% 450px, 0 580px, 58% 721px;
    }
  }

  @keyframes animateClouds-risk {
    0% {
      background-position: 10% 93px, 84% 115px, -7% 250px, 100% 450px, 0 580px, 58% 721px;
    }
    100% {
      background-position: 20% 93px, 84% 215px, 2% 410px, 117% 420px, 20% 690px, 108% 721px;
    }
  }

  @keyframes expandBackground {
    0% {
      left: 0;
      right: 100%;
      width: 0px;
      height: 0px;
    }
    33.33%,
    50% {
      left: 0;
      right: 100%;
      width: 100%;
      height: 100vh;
    }
    58.33%,
    75% {
      left: 0;
      right: 100%;
      width: 100%;
      height: 100vh;
    }
    100% {
      left: 100%;
      right: 0;
      width: 0px;
      height: 100vh;
    }
  }

  @keyframes slideIn {
    0% {
      visibility: hidden;
      left: -100%;
    }
    75% {
      visibility: visibility;
      left: -100%;
    }
    100% {
      visibility: visibility;
      left: 0;
    }
  }

  .container {
    @include responsive(SM) {
      padding: 0;
    }
  }
  .process-bar {
    position: absolute;
    width: 100%;
    .filter {
      height: 7px;
      background-color: map-get($map: $colors, $key: 'green-second');
      transition: width 0.7s ease-out;
      @include responsive(SM) {
        height: 14px;
      }
    }
  }

  h3 {
    font-weight: 900;
    font-size: $text-xl;
    color: map-get($map: $colors, $key: 'black');
    margin: $space-sm2;
    text-align: center;
  }
  h4 {
    font-size: $text-lg;
    font-weight: 900;
    margin-bottom: $space-xs2;
    color: $primary-colors;
    line-height: 1.25;
    text-align: center;
  }
  p {
    color: map-get($map: $colors, $key: 'black');
  }

  button {
    padding: $space-sm $space-md;
    width: max-content;
    @include responsive(SM) {
      padding: $space-sm $space-lg2;
    }
  }
  .btn-next {
    position: fixed;
    bottom: $space-sm;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    @include responsive(SM) {
      position: relative;
      margin-top: $space-lg2;
      z-index: unset;
      left: unset;
      transform: unset;
    }
  }

  .form-item {
    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    .ant-form-item-label {
      position: absolute;
      z-index: 2;
      top: -0.4rem;
      left: 1rem;
      font-size: $text-md;
      color: $primary-colors;
      transition: all 0.15s ease-out;
      label {
        height: auto;
        color: $primary-colors;
      }
      label:before,
      label:after {
        content: '';
      }
    }
    .ant-input {
      border: 2px solid $primary-colors;
      height: 4.6rem;
      box-sizing: border-box;
      font-size: $text-md;
    }
  }
  &__content-name {
    text-align: center;

    @include responsive(SM) {
      h3 {
        font-size: $text-xxl;
      }
    }
  }
  &__content-age {
    position: relative;
    animation: slideIn 5s;
    -webkit-animation: slideIn 5s;
    h4 {
      padding-top: $space-md;
    }
    input {
      max-width: 10rem;
    }
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
    }
  }
  &__content-retire {
    text-align: center;
    margin-top: $space-sm2;
    h4 {
      padding-top: $space-md;
    }
    input {
      max-width: 10rem;
    }
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-age 1s linear forwards;
    }
  }
  &__content-feel {
    text-align: center;
    padding: 0 $space-sm2;
    h4 {
      margin: $space-md2 0;
    }
    .introduction-screen__direction {
      margin-top: $space-md2;
    }
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-feel 1s linear forwards;
    }
  }

  &__content__risk {
    padding: 0 $space-sm2;
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-risk 1s linear forwards;
    }

    .introduction-screen__wrapper {
      max-width: 60rem;
      margin: 0 auto;
    }
    padding-bottom: $space-xl2;
    h4 {
      margin: $space-md 0 $space-sm 0;
    }
    .introduction-screen__direction {
      margin-top: $space-md2;
    }
    .introduction-screen__quiz {
      margin-top: $space-md2;
    }
    &-level {
      border-radius: $radius-md;
      margin-top: $space-md;
      text-align: left;
    }
    &-ratio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fbfaf5;
      padding: $space-xs2 $space-sm2;
      border-radius: $radius-md $radius-md 0 0;
      font-weight: 600;
    }
    &-desc {
      background-color: #f4ecd7;
      padding: $space-xs2 $space-sm2;
      border-radius: 0 0 $radius-md $radius-md;
      p {
        color: $primary-colors;
        margin-bottom: $space-xs2;
      }
      .disclosure-text {
        font-size: 13px;
        color: #595959;
      }
    }
  }

  &__quiz {
    text-align: center;
    margin-top: $space-md2;
    a {
      text-decoration: underline;
      font-size: $text-sm;
    }
    a:before {
      height: 0;
    }
  }
  &__direction {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $space-md;
    a {
      font-size: $text-sm;
      font-weight: 900;
      text-decoration: underline;
    }
  }

  &__content__save {
    text-align: center;
    padding: 0 $space-sm2;
    h4 {
      margin-top: $space-sm2;
    }
    p {
      color: $primary-colors;
      font-size: $text-xs;
    }
    .introduction-screen__title-desc {
      margin-bottom: $space-md2;
    }
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-age 1s linear forwards;
    }
    //class of ant design
    .ant-checkbox-wrapper {
      @include responsive(SM) {
        max-width: 30rem;
      }
    }
  }

  // custom input styles
  .ant-form-item-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $space-lg;
  }
  // custom radio button
  .question-container {
    margin-bottom: $space-lg !important;
  }

  .ant-form-item-explain-error {
    text-align: center !important;
  }

  .ant-radio-button-wrapper {
    @include responsive(SM) {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 30rem !important;
      padding: 10px !important;
      box-sizing: content-box;
      span:last-child {
        display: block;
        height: 100%;
        line-height: 50px;
      }
    }
  }

  //custom ant checkbox
  .ant-checkbox-wrapper {
    @include responsive(SM) {
      margin: 0 auto;
      width: 30rem !important;
      padding: 10px !important;
      box-sizing: content-box;
      span:last-child {
        display: block;
        height: 100%;
      }
    }
  }
}
