@import 'styles/main.scss';

.ant-select {
  width: 24rem !important;
  border: 2px solid $primary-colors !important;
  border-radius: 0.5rem !important;
  display: block !important;
  margin: 0 auto !important;
  text-align: left !important;
}
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $primary-colors !important;
  border-right-width: 1px !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative !important;
  background-color: white !important;
  border: unset !important;
  border-radius: 2px !important;
  transition: unset !important;
}
.ant-select-item-option {
  padding: $space-xs $space-xs2 !important;
}

.ant-select-item-option:hover {
  background-color: $primary-colors !important;
  color: map-get($map: $colors, $key: 'white') !important;
}

.ant-select-item-option-selected {
  background-color: $primary-colors !important;
  color: map-get($map: $colors, $key: 'white') !important;
  font-weight: normal !important;
}

.ant-select-dropdown {
  border-radius: $radius-xs !important;
}
