@import 'styles/main.scss';

.faq-screen {

    &__block{
        width: 100%;
        margin: 0 auto;
        @include responsive(XXL){
            width: 83.333333%
        }
        h1{
            font-size: $text-xxl;
            color: $primary-colors;
            font-weight: 900;
            line-height: 1.25;
            margin-bottom: $space-sm2;
            @include responsive(SM) {
                font-size: $text-xxxl;
            }
        }
    }
    &__first-content-wrapper{
        &__text{
            font-size: $text-xs;
            font-weight: 600;
            letter-spacing: 0.14rem;
        }
        &__col{
            input{
                height: 4.8rem;
                margin-top: $space-sm;
                border: 2px solid $primary-colors;
            }
            button{
                height: 4.8rem;
                margin: $space-sm 0;
            }
            &:first-child{
                margin-right: $space-xs;
            }
            .ant-input{
                outline: none;
                box-shadow: none;
                color: $primary-colors;
                border-radius: $radius-sm;
                font-size: $text-sm;
                &:hover{
                  border-color: $primary-colors;
                  border-right-width: 2px !important;
                }
                &:focus{
                  border-color: $primary-colors;
                  box-shadow: none;
                  border-right-width: 2px !important;
                }
              }
        }
    }
    &__content-list{
        margin: $space-xl2 0;
        &__top-content{
            margin-bottom: $space-lg;
            h2{
                color: map-get($map: $colors, $key: 'green');
                font-weight: 900;
                font-size: $text-xxl;
            }
        }
        &__bottom-content{
            .faq-screen__list-content__item{
                margin-top: $space-sm2;
                h3{
                    font-size: $text-md;
                    font-weight: 600;
                    color: map-get($map: $colors, $key: 'white');
                    @include responsive(SM){
                        font-size: $text-xl;
                    }
                }
            }
        }
    }
}