@import 'styles/main.scss';
.my-button{
  letter-spacing: 0.14rem;
}

.my-button-primary {
  background-color: $primary-colors !important ;
  color: map-get($map: $colors, $key: 'white') !important;
}

.my-button-second {
  background-color: map-get($map: $colors, $key: 'green') !important;
  color: map-get($map: $colors, $key: 'white') !important;
}

.my-button-third {
  background-color: map-get($map: $colors, $key: 'blue') !important;
  color: map-get($map: $colors, $key: 'white') !important;
}

.my-button-four {
  background-color: map-get($map: $colors, $key: 'blue') !important;
  color: map-get($map: $colors, $key: 'white') !important;
  border: 2px solid $primary-colors !important;
  &:hover{
    border-radius: $radius-sm !important;
    background-color: transparent !important;
    color: $primary-colors !important;
  }
}
