@import 'styles/main.scss';

.forgot-password-screen {
  padding-top: $space-lg2;
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;

  width: 100%;

  h3,
  p {
    color: map-get($map: $colors, $key: 'black');
  }
  button {
    padding: 1.2rem $space-md;
    font-weight: normal !important;
    height: 4.3rem;
    color: map-get($map: $colors, $key: 'white') !important;
    width: min-content;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .overlay-blur {
    filter: blur(4px);

    @include responsive(SM) {
      filter: unset;
    }
  }
  .mb-0 {
    margin-bottom: 0;
  }

  .focused {
    top: 0.5rem !important;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    border-bottom: 1px solid #ddd;
    span {
      width: 4.8rem;
    }
    a:before {
      height: 0;
    }
    &-logo {
      width: 90px;
      height: 28px;
    }
  }
  &__wrapper {
    max-width: 55rem;
    margin: 0 auto;
  }

  &__form {
    text-align: center;
    h3 {
      font-size: $text-xl;
      font-weight: 600;
      margin-top: $space-sm2;
      margin-bottom: $space-xs2;
      @include responsive(MD) {
        font-size: $text-xxl;
      }
    }
    p {
      margin-top: $space-xs2;
      margin-bottom: $space-sm2;
      line-height: 1;
    }

    // custom form, input ant design

    .form-item {
      position: relative;
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
      .ant-form-item-label {
        position: absolute;
        z-index: 2;
        top: -0.4rem;
        left: 1rem;
        font-size: $text-md;
        color: $primary-colors;
        transition: all 0.15s ease-out;
        label {
          height: auto;
          color: $primary-colors;
        }
        label:before {
          content: '' !important;
        }
        label:after {
          content: '' !important;
        }
      }

      .ant-btn:hover {
        border-radius: 0 !important;
      }

      &:first-child .ant-input[type='text'] {
        border: 2px solid $primary-colors;
        height: 4.6rem;
        box-sizing: border-box;
        padding: 22px 15px 4px 11px !important;
      }
      .ant-input-password {
        border: 2px solid $primary-colors;
        height: 4.6rem;
        input {
          box-sizing: border-box;
          padding: 22px 0px 4px 0px !important;
        }
        &:before {
          display: none;
        }
      }
    }
  }

  &__line {
    max-width: 395px;
    margin: 10px auto;
    height: 30px;
    position: relative;
    .line {
      border-bottom: 1px solid #ccc;
      left: 0;
      right: 0;
      position: absolute;
      margin: 15px 0;
    }
    .text {
      text-align: center;
      color: #474747;
      padding: 5px 0;
      display: inline-block;
      background-color: white;
      position: absolute;
      width: 40px;
      font-size: $text-xs;
      left: calc(50% - 20px);
    }
  }

  &__options {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      border-radius: $radius-xs;
      height: 4.6rem;
      margin-bottom: $space-xs2;
      p {
        font-size: $text-xs;
      }
      img,
      span,
      svg {
        width: 2rem;
        height: 2rem;
        margin-left: 2rem;
        @include responsive(MD) {
          margin-left: 6rem;
        }
      }
    }
    .option-facebook {
      background-color: map-get($map: $colors, $key: 'blue-second');
      color: map-get($map: $colors, $key: 'white');
      p {
        color: map-get($map: $colors, $key: 'white');
      }
    }
    .option-apple {
      background-color: black;
      color: map-get($map: $colors, $key: 'white');
      p {
        color: map-get($map: $colors, $key: 'white');
      }
    }
  }

  &__directions {
    display: flex;
    justify-content: center;
    margin: $space-sm2 0;
    p {
      font-weight: 600;
      color: $primary-colors;
      padding: 0 $space-xs2;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__sidebar-mobile {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 3;
    opacity: 90% !important;

    @include responsive(SM) {
      width: 30rem;
      right: 0;
      top: 0;
      bottom: 0;
      left: unset;
    }
    @include responsive(MD) {
      box-shadow: 25px 25px 20px 20px map-get($map: $colors, $key: 'green');
    }
    .login-screen__header-logo {
      @include responsive(SM) {
        display: none;
      }
    }
  }
  &__sidebar-menu {
    display: flex;
    flex-direction: column;
    background: white;
    a {
      text-align: left;
      padding: 20px 35px;
      color: #4b4b4b;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      text-decoration: none;
      font-size: $text-sm;
      &::before {
        height: 0;
      }
    }
    a:hover {
      background-color: $primary-colors;
      color: map-get($map: $colors, $key: 'white');
    }
  }
}

// custom ant design
.ant-form-item-explain {
  text-align: left;
  font-style: italic;
  margin-bottom: 0.4rem;
}
