@import 'styles/main.scss';
    .footer-top{
        padding: $space-lg 0;
        .container{
            display: flex;
            justify-content: center;
        }
    }
    .footer-content{
        width: 100%;
        padding: 0 ;
        @include responsive(XXL){
            width: 83.33333%;
        }
        &__logo{
            height: 57px;
            color: map-get($map: $colors, $key: 'light-green');
            font-weight: 600;
            position: relative;
            margin-bottom: $space-lg;
            img{
                width: 20rem;
                position: absolute;
                left: -1.6rem;
            }
        }
        &__list-item{
            margin-bottom: $space-md;
            letter-spacing: 0.14rem;
            @include responsive(MD){
                flex: 0 0 25% !important;
                max-width: 25% !important;
            }
        }
        &__item{
            &__title{
                font-weight: 600;
                font-size: $space-sm;
                margin-bottom: $space-sm2;
                color: $primary-colors
            }
            &__link-wrapper{
                display: flex;
                flex-direction: column;
                div{
                    display: inline-flex;
                    margin-bottom: $space-xs;
                    line-height: 1.2;
                }
                a{
                    width: auto;
                    font-size: $text-sm;
                    line-height: 1.2;
                }
            }
        }

        &__social{
            a{
                margin-right: $space-sm;
                display: flex;
                align-items: center;
                text-decoration: none;
            }
            svg{
                width: $text-sm;
                height: $text-sm;
            }
        }

        &__text{
            font-size: $text-xs;
            margin-bottom: $space-sm;
            text-align: left;
            line-height: 1.5;
        }
    }
    .footer-bottom{
        padding: $space-xs2 0;
        &__wrapper{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            font-size: $text-xs;
            flex-direction: column;
            align-items: center;

            @include responsive(SM){
                flex-direction: row;
            }
           
            @include responsive(XXL){
                width: 83.33333%;
            }
        }
        &__left{
            padding: 0;
        }
        &__right{
            padding: 0;
        }
    }