@import 'styles/main.scss';

.blogscreen {
  padding-top: $space-xl;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  select {
    padding: $space-xs $space-sm;
    border-radius: $radius-xs;
    border: 2px solid $primary-colors;

    width: 100%;

    appearance: none;
    -webkit-appearance: none;

    font-size: $text-sm;
  }
  input {
    padding: $space-xs $space-sm;
    border-radius: $radius-xs;
    border: none;

    width: 100%;

    background-color: map-get($map: $colors, $key: 'grey-background');
    color: $primary-colors;

    font-size: $text-xs;
    font-weight: 600;
    &::placeholder {
      color: $primary-colors;
    }
    &:focus {
      outline-color: 2px solid $primary-colors;
    }
  }

  button {
    padding: $space-xs $space-sm2;
    border-radius: $radius-xs;
    border: 2px solid $primary-colors;
    font-size: $text-xs;

    cursor: pointer;
    letter-spacing: 0.1rem;
    background-color: white;
    &:hover {
      background-color: $primary-colors;
      color: white;
      transition: 0.5s ease;
    }
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.5s ease-in-out;
  }
  // override class of react-infinite-scroll
  .infinite-scroll-component__outerdiv {
    width: 100% !important;
  }
  // override class of ant-design form
  .ant-form-item-control-input-content {
    display: flex !important;
    height: 4.2rem !important;
  }

  &__content-wrapper {
    padding-top: $space-xl;
    margin: 0 auto;
    @include responsive(XS) {
      width: 100%;
    }
    @include responsive(XXL) {
      padding: 0;
      width: 83.33333%;
    }
    h1 {
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    h2 {
      margin-bottom: $space-sm2;
      text-align: center;
    }

    h2 {
      font-weight: 900;
      line-height: 1.25;
    }

    p {
      line-height: 1.4;
    }
  }

  &__content__filter {
    h1 {
      margin-bottom: $space-xs;
    }
  }

  &__content__filter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-md;
    @include responsive(MD) {
      flex-direction: row;
      justify-content: space-between;
      form {
        width: calc(33.3333% - 2.5rem);
      }
    }
  }
  &__content__filter-select {
    position: relative;
    width: 100%;
    margin-bottom: $space-md;
    @include responsive(MD) {
      width: calc(33.3333% - 2.5rem);
      margin: unset;
    }
    .select-icon {
      position: absolute;
      top: 35%;
      right: 0.5rem;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      font-size: $text-xs;
    }
  }
  &__content__filter-search {
    display: flex;
    input {
      margin-right: $space-md;
    }
  }
  &__content__post-list {
    display: flex;
    flex-direction: column;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    @include responsive(XS) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  &__content__post-item {
    overflow: hidden;
    border-radius: $radius-sm;
    margin-bottom: $text-xxxl;
    width: 100%;
    cursor: pointer;
    padding: 0 $space-md;
    @include responsive(XS) {
      width: calc(50%);
    }
    @include responsive(MD) {
      width: calc(33.33333%);
    }
    &-content {
      @include responsive(MD) {
        height: 24rem;
      }
      padding: $space-sm2;
      background-color: map-get($map: $colors, $key: 'grey-background');
      border-radius: 0 0 $radius-sm $radius-sm;
      h1 {
        margin-bottom: $space-sm;
        font-weight: 900;
        font-size: $text-xl;
        line-height: $text-xl;
      }
      p {
        font-size: $text-md;
        @include responsive(MD) {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }
    }
    .blog-image {
      overflow: hidden;
      height: 20rem;
      border-radius: $radius-sm $radius-sm 0 0;
    }
    &:hover {
      img {
        transform: scale($scaleImg);
      }
      h1 {
        text-decoration: underline;
        text-decoration-color: $primary-colors;
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    // height: 4rem;
  }

  //custom pagination
  .ant-pagination {
    &-options {
      display: none !important;
    }
    &-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: auto;
      height: auto;
      border: none !important;
      margin: 0;
      padding: 0 0.3rem;

      &-container {
        display: none;
      }
      &:hover a {
        color: $primary-colors;
      }
    }
    &-item-link {
      border: none !important;
    }

    &-item a {
      font-size: $text-md;
      color: $primary-colors;
      padding: 0;
      &::before {
        display: none !important;
      }
      &:hover {
        color: $primary-colors;
      }
    }
    &-item-active {
      color: $primary-colors;
      border-color: none !important;
      border: none;
      text-align: center;
    }
    &-item-active a {
      color: $primary-colors !important;
      font-weight: 900;
    }
    &-next,
    &-prev {
      margin: 0;
    }
    &-jump-next,
    &-jump-prev {
      min-width: auto;
      height: auto;
      margin: 0;
      &::after {
        content: '...';
        text-align: center;
        font-size: $text-md;
      }
    }
    button {
      color: $primary-colors;
      background-color: unset;
      &:hover {
        color: $primary-colors !important;
      }
    }
  }
}
