@import 'styles/main.scss';

.risk-tolerance-screen {
  padding-top: $space-lg2;
  h4 {
    font-size: $text-xl;
    font-weight: 900;
    color: map-get($map: $colors, $key: 'black');
    text-align: center;
    margin: $space-sm2 0 $space-xs2 0;
    @include responsive(SM) {
      font-size: $text-xxl;
    }
  }
  p {
    color: map-get($map: $colors, $key: 'black');
    line-height: 1.25;
    margin-bottom: $space-md2;
    span {
      color: map-get($map: $colors, $key: 'light-green');
    }
  }

  button {
    padding: $space-sm $space-md;

    @include responsive(SM) {
      padding: $space-sm $space-lg2;
      margin-bottom: $space-md2;
    }
  }
  .btn-next {
    position: fixed;
    bottom: $space-sm;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    @include responsive(SM) {
      position: relative;
      margin-top: $space-lg2;
      z-index: unset;
      left: unset;
      transform: unset;
    }
  }

  &__title-desc {
    text-align: center;
  }

  &__comfortable {
    padding-bottom: $space-xl2;
    .introduction-screen__direction {
      margin-top: $space-md2;
    }
    .introduction-screen__quiz {
      margin-top: $space-md2;
    }
    &-level {
      border-radius: $radius-md;
      margin-top: $space-md;
      max-width: 60rem;
      @include responsive(SM) {
        margin: $space-md2 auto $space-md2;
      }
    }
    &-ratio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fbfaf5;
      padding: $space-sm;
      border-radius: $radius-md $radius-md 0 0;
      p {
        margin: 0;
        font-weight: 600;
      }
    }
    &-desc {
      background-color: #f4ecd7;
      padding: $space-sm;
      border-radius: 0 0 $radius-md $radius-md;
      p {
        color: $primary-colors;
        margin-bottom: $space-xs2;
      }
      .disclosure-text {
        font-size: 13px;
        color: #595959;
      }
    }
  }

  &__risk {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($map: $colors, $key: 'grey-third');
    padding: $space-md2 $space-sm2;
    border-radius: $radius-xs;
    max-width: 90rem;
    margin: 0 auto;
    & > p {
      text-align: center;
      margin-bottom: $space-sm;
    }
  }

  &__button {
    width: 100%;
    text-align: center;
  }

  &__quiz {
    text-align: center;
    font-size: $text-sm;
    text-decoration: underline;
  }
}
