@import 'styles/main.scss';

.risk-screen {
  text-align: center;
  padding-top: $space-lg2;
  @keyframes animateClouds-age {
    0% {
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
    }
    100% {
      background-position: 8% 133px, 83% 175px, -7% 340px, 119% 380px, 39% 520px, 82% 691px;
    }
  }

  @keyframes animateClouds-feel {
    0% {
      background-position: 8% 133px, 83% 175px, -7% 340px, 119% 380px, 39% 520px, 82% 691px;
    }
    100% {
      background-position: 10% 93px, 84% 115px, -7% 250px, 100% 450px, 0 580px, 58% 721px;
    }
  }

  @keyframes animateClouds-risk {
    0% {
      background-position: 10% 93px, 84% 115px, -7% 250px, 100% 450px, 0 580px, 58% 721px;
    }
    100% {
      background-position: 20% 93px, 84% 215px, 2% 410px, 117% 420px, 20% 690px, 108% 721px;
    }
  }
  .container {
    @include responsive(SM) {
      padding: 0;
    }
  }
  .process-bar {
    width: 100%;
    .filter {
      height: 7px;
      background-color: map-get($map: $colors, $key: 'green-second');
      transition: width 0.7s ease-out;
      @include responsive(SM) {
        height: 14px;
      }
    }
  }
  h3 {
    font-weight: 900;
    font-size: $text-lg;
    color: $primary-colors;
    line-height: 1.25;
    margin: $space-sm 20;
    text-align: center;
    margin: $space-sm2 0;
    @include responsive(SM) {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  button {
    padding: $space-sm $space-md;
    &:hover {
      border-radius: $radius-xs;
    }
    @include responsive(SM) {
      padding: $space-sm $space-lg2;
      margin-bottom: $space-md2;
    }
  }
  .btn-next {
    position: fixed;
    bottom: $space-sm;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    @include responsive(SM) {
      position: relative;
      margin-top: $space-lg2;
      z-index: unset;
      left: unset;
      transform: unset;
    }
  }
  &__content__step-1 {
    padding: 0 $space-sm2;
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      padding: 0;
    }
  }
  &__content__step-2 {
    padding: 0 $space-sm2;
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-age 1s linear forwards;
      padding: 0;
    }
  }
  &__content__step-3 {
    padding: 0 $space-sm2;
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-feel 1s linear forwards;
      padding: 0;
    }
  }
  &__content__step-4 {
    padding: 0 $space-sm2;
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-risk 1s linear forwards;
      padding: 0;
    }
  }
  &__content__step-5 {
    padding: 0 $space-sm2;
    @include responsive(SM) {
      background-repeat: no-repeat;
      background-image: url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/d1afa04540a083645244662c1d4b69a1.svg'),
        url('https://secure.blooom.com/997f45df21cd5ed1f51ef06d5d8aa83f.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg'),
        url('https://secure.blooom.com/9e8e2abf745daaf7571662530f21f3d4.svg');
      background-size: 100px auto, 170px auto, 280px auto, 320px auto, 340px auto, 410px auto;
      background-position: 30% 71px, 72% 150px, 15% 300px, 85% 380px, 25% 561px, 55% 751px;
      margin: 0 auto;
      text-align: center;
      min-height: 100vh;
      overflow: auto;
      animation: animateClouds-age 1s linear forwards;
      padding: 0;
    }
  }

  &__more {
    margin-top: $space-lg;
  }
  &__direction {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: map-get($map: $colors, $key: 'black');
    }
    a {
      font-size: $text-sm;
      font-weight: 900;
      text-decoration: underline;
    }
  }

  //custom ant design collapsed

  .ant-radio-button-wrapper {
    @include responsive(SM) {
      max-width: 48rem !important;
      margin-left: auto !important;
      margin-right: auto !important;
      padding: 10px !important;
      box-sizing: content-box;
      span:last-child {
        display: block;
        height: 100%;
        line-height: 50px;
      }
    }
  }

  .ant-collapse {
    border: none !important;
    border-width: 0 !important;
    background-color: transparent !important;
    border-bottom: none !important;
    max-width: 60rem !important;
    margin: 0 auto !important;
  }
  .ant-collapse-item {
    background-color: none !important;
    border-width: 0 !important;
  }
  .ant-collapse-content {
    border: none !important;
    background-color: transparent !important;
  }

  .ant-collapse-content-box {
    padding: 0 !important;
    line-height: 1 !important;
    color: map-get($map: $colors, $key: 'black');
  }
  .ant-collapse-header {
    font-size: $text-lg;
    text-align: center;
    font-weight: 400;
    width: max-content !important;
    margin: 0 auto !important;
  }
  .ant-collapse-arrow {
    transform: translateY(-50%) rotate(90deg) !important;
    font-size: $text-lg !important;
  }
  .ant-collapse-item-active {
    svg {
      transform: rotate(180deg) !important;
    }
  }
}
