@import 'styles/main.scss';

.ant-checkbox-wrapper {
  width: 100% !important;
  border-radius: $radius-xs !important;
  box-shadow: 3px 3px 8px #d0d0d0 !important;
  margin-bottom: $space-xs2 !important;
  background-color: map-get($map: $colors, $key: 'white') !important;
  span {
    width: 100% !important;
    text-align: center !important;
    font-size: $text-md !important;
    padding: $space-xs2 !important;
  }
  .ant-checkbox {
    display: none !important;
  }
  &-checked {
    background-color: $primary-colors !important;
    color: map-get($map: $colors, $key: 'white') !important;
  }
}
