@import 'styles/main.scss';

.pricingscreen {
  &-section {
    margin-top: 9.6rem;
    margin-bottom: 4rem;
  }

  &__banner {
    &-about {
      margin-bottom: 6.4rem;
      text-align: center;
      & h1 {
        font-size: $text-sm;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 2rem;
      }
      & h2 {
        font-size: $text-xxl;
        font-weight: 900;
        margin-bottom: 2rem;
        line-height: 1.25;
        color: map-get($map: $colors, $key: 'blue');
        & span {
          color: map-get($map: $colors, $key: 'green');
        }
      }
      & h3 {
        font-size: $text-xxl;
        font-weight: 900;
        margin-bottom: 2rem;
        line-height: 1.2;
        color: map-get($map: $colors, $key: 'blue');
      }
      & p {
        font-size: $text-sm;
        & span {
          color: #fff;
        }
      }
    }
    &-content {
      font-size: $text-md;
    }
    &-item {
      margin-bottom: 6.4rem;
    }
  }

  &__getstarted {
    &-startfor {
      text-align: center;
      margin: auto;
      margin-bottom: 6rem;
      & p {
        line-height: 1.4;
        margin-bottom: 2rem;
      }
    }
    &-price {
      font-size: $text-xxxl;
      line-height: 1.2;
      font-weight: 900;
      margin-bottom: 1.2rem;
    }
    &-button {
      margin-top: 1.6rem;
      font-weight: 900;
      padding: 1rem 2.4rem;
      font-size: $text-sm;
      line-height: 1.4;
    }
    &-desc {
      margin: auto;
      margin-bottom: 6rem;
      font-size: $text-md;
      & ul {
        list-style-type: disc;
        & li {
          line-height: 1.4;
          margin-bottom: 0.625rem;
        }
      }
    }
  }

  &__options {
    padding: 0 2.5rem;
    width: 100%;
    &-type {
      position: relative;
      --bg-opacity: 1;
      background-color: rgba(236, 238, 239, var(--bg-opacity));
      border-radius: 0.25rem;
      padding: 3.2rem 2.4rem;
      margin-bottom: 4rem;
    }
    &-price {
      text-align: center;
      & h1 {
        font-size: $text-xxl;
        font-weight: 900;
        margin-bottom: 2rem;
        color: map-get($map: $colors, $key: 'blue');
      }
      & h2 {
        font-size: $text-xl;
        font-weight: 900;
        line-height: 1.2;
        margin: 0;
        color: map-get($map: $colors, $key: 'blue');
      }
      & span {
        font-size: $text-xs;
      }
      & p {
        font-size: $text-sm;
      }
    }
    &-desc {
      & ul {
        font-size: $text-sm;
        margin-bottom: 2.4rem;
      }
    }
    &-button {
      font-weight: 900;
      padding: 1rem 2.4rem;
      font-size: $text-sm;
      line-height: 1.4;
      width: 100%;
    }
  }

  &__table {
    &-content {
      --border-opacity: 1;
      border-color: rgba(236, 238, 239, var(--border-opacity));
      border-bottom-width: 1px;
      padding: 2.4rem 0 !important;
    }
    &-title {
      width: 100%;
      h1 {
        font-size: $text-xl;
        font-weight: 900;
        margin-bottom: 1.6rem;
        color: map-get($map: $colors, $key: 'blue');
      }
      p {
        font-size: $text-sm;
        line-height: 1.4;
        > a {
          color: map-get($map: $colors, $key: 'green-second');
          text-decoration: underline;
          opacity: 1;
          font-size: 1.6rem;
          line-height: 1.4;
        }
        ul {
          list-style-type: disc;
          padding-left: 2rem;
          font-weight: 0;
        }
      }
    }
    &-element {
      margin-bottom: 2.4em;
      width: 100%;
      h3 {
        font-size: $text-lg;
        font-weight: 900;
        color: $primary-colors;
        @include responsive(SM) {
          visibility: hidden;
        }
      }
      h6 {
        font-size: 2.4rem;
        color: map-get($map: $colors, $key: 'black');
      }
      p {
        color: map-get($map: $colors, $key: 'green-second');
        font-size: $text-xl;
      }
      h4 {
        --text-opacity: 1;
        color: rgba(75, 75, 75, var(--text-opacity));
        line-height: 1.25;
        font-size: 1.8rem;
      }
      h5 {
        --text-opacity: 1;
        color: rgba(75, 75, 75, var(--text-opacity));
        line-height: 1.25;
        font-size: 1.8rem;
      }
    }
    &-name {
      @include responsive(SM) {
        visibility: initial !important;
      }
    }
    &-button {
      font-weight: 900;
      padding: 1rem 2.4rem;
      font-size: $text-sm;
      line-height: 1.4;
      margin-top: 1rem;
    }
  }

  &__summary {
    p {
      margin-bottom: 2rem;
    }
    &-small {
      font-size: $text-sm;
      line-height: 1.4;
    }
  }
}
