@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-secondary-from: mix($mix-main, $from);
  $mix-secondary-to: mix($mix-main, $to);

  box-shadow: 0 1px 0 $weight rgba($mix-secondary-to, 0.25),
    0 -1px 0 $weight rgba($mix-secondary-from, 0.25), 1px 0 0 $weight rgba($mix-secondary-to, 0.25),
    -1px 0 0 $weight rgba($mix-secondary-from, 0.25), 1px -1px 0 $weight rgba($mix-main, 0.5),
    -1px 1px 0 $weight rgba($mix-main, 0.5), 1px 1px 0 $weight rgba($to, 0.75),
    -1px -1px 0 $weight rgba($from, 0.75);
}
$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;
$XXL: 1280px;
$XXXL: 1400px;

// media queries
@mixin responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  } @else if $canvas == XXL {
    @media only screen and (min-width: $XXL) {
      @content;
    }
  } @else if $canvas == XXXL {
    @media only screen and (min-width: $XXXL) {
      @content;
    }
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
