$primary-colors: #242970;

$colors: (
  'green': #428235,
  'light-green': #7fb742,
  'green-second': #99cc00,
  'blue': #242970,
  'light-blue': #7fb5d1,
  'white': #ffffff,
  'black': #4b4b4b,
  'red': #ff5b1c,
  'red-second': #f4e9e9,
  'red-third': #ec3d3d,
  'grey': #d6d6d6,
  'grey-second': #e3e3e3,
  'grey-disable': #777,
  'grey-background': #eceeef,
  'blue-second': #1877f2,
  'grey-third': #fbfbfb
);

$scaleImg: 1.2;

$space-xs: 0.8rem;
$space-xs2: 1rem;
$space-sm: 1.6rem;
$space-sm2: 2rem;
$space-md: 2.5rem;
$space-md2: 3.2rem;
$space-lg: 4rem;
$space-lg2: 5rem;
$space-xl: 8rem;
$space-xl2: 9.6rem;

$radius-xs: 0.4rem;
$radius-sm: 0.8rem;
$radius-md: 2.5rem;
$radius-md2: 9.6rem;
$raidus-lg: 10rem;

$text-xs: 1.4rem;
$text-sm: 1.6rem;
$text-md: 1.8rem;
$text-lg: 2rem;
$text-xl: 2.4rem;
$text-xxl: 3.2rem;
$text-xxxl: 4.4rem;
$text-4xl: 5.6rem;
