@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Book.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Heavy.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/AvenirLTStd-Black.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}