@import './main.scss';

:root {
  --text-color: #{map-get($map: $colors, $key: 'blue')};
}

html {
  font-size: 62.5% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6vw;
  color: var(--text-color);
  font-family: 'Avenir LT Std', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: $text-sm;
}

h2 {
  font-size: $text-xxxl;
}

h3 {
  font-size: $text-xs;
}

h4 {
  font-size: $text-xs;
}

h5 {
  font-size: $text-xs;
}

h6 {
  font-size: $text-xs;
}

p {
  font-size: $text-md;
}

a {
  color: var(--text-color);
  position: relative;
  font-size: $text-xs;
  letter-spacing: 0.14rem;
  line-height: 1;
  &::before {
    content: '';
    width: 100%;
    background-color: $primary-colors;
    height: 0.5px;
    position: absolute;
    bottom: 0;
    display: none;
  }
  &:hover {
    color: var(--text-color);
    &::before {
      display: block;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 $space-md;
  &-inner {
    max-width: 83.3333%;
    margin: 0 auto;
  }
  width: 100%;
  @include responsive(XS) {
    max-width: 100%;
  }
  @include responsive(SM) {
    max-width: 768px;
    padding: 0 $space-lg2;
  }
  @include responsive(MD) {
    max-width: 1024px;
  }
  @include responsive(XXL) {
    max-width: 1280px;
  }
}

//antd

.ant-btn {
  border-radius: $radius-xs;
  outline: none !important;
  border: none;
  box-shadow: none;
  transition: 0.15s ease;
  padding: $space-xs $space-sm;
  height: unset;
  line-height: 1;
  background-color: map-get($map: $colors, $key: 'white');
  color: $primary-colors;
  font-weight: 600;
  span {
    line-height: 1;
  }
  &:hover {
    background-color: map-get($map: $colors, $key: 'white');
    color: map-get($map: $colors, $key: 'blue');
    border-radius: $radius-md;
  }
}

// custom menu

.ant-dropdown-menu {
  .ant-dropdown-menu-item {
    color: $primary-colors;
  }
}
