@import 'styles/main.scss';

.financialscreen {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-colors;
  }
  &__content-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include responsive(MD) {
      width: 100%;
      margin: $space-xl2 auto;
    }
    @include responsive(XXL) {
      width: 83.33333%;
    }
  }

  img {
    height: auto;
    width: 100%;
  }
  &__first-content {
    position: relative;
    margin-bottom: $space-xl2;
    overflow: hidden;
    &::before {
      position: absolute;
      content: '';
      height: 6rem;
      background-image: url('/images/Pink-Cloud.svg');
      top: 50%;
      right: 0;
      transform: translate(10%, -50%);
      @include responsive(MD) {
        width: 20rem;
      }
    }
    .financialscreen__content {
      flex-direction: column-reverse;
      @include responsive(MD) {
        flex-direction: row-reverse;
      }

      h1,
      h2 {
        margin-bottom: $space-sm2;
      }

      h2 {
        font-weight: 900;
        line-height: 1.25;
      }

      p {
        line-height: 1.4;
      }
      &__col {
        padding: 0 $space-md;
        flex: 1;
        max-width: 100%;
      }

      &__col-text {
        h1 {
          font-weight: 600;
          letter-spacing: 0.1rem;
        }
        h1 strong {
          font-size: $text-md;
        }
        h2 span {
          color: map-get($map: $colors, $key: 'green');
        }
      }

      &__col-image {
        position: relative;
        margin-bottom: $space-lg;
        display: flex;
        justify-content: center;
        width: 80%;

        .main-image {
          width: 100%;
        }

        @include responsive(MD) {
          margin-bottom: 0;
          .main-image {
            width: 80%;
            margin-right: auto;
          }
        }

        .sub-image {
          position: absolute;
          width: 22rem;
          height: 22rem;
          top: -100px;
          right: -65px;
          z-index: -1;
          @include responsive(MD) {
            top: -70px;
            right: 15px;
          }
          @include responsive(XXL) {
            top: -100px;
            right: 15px;
          }
        }
        .sky1,
        .sky2 {
          display: none;
          @include responsive(MD) {
            display: block;
          }
        }
        .sky1 {
          img {
            width: 20rem;
          }
          position: absolute;
          top: 0;
          left: 40px;
          z-index: -1;
        }
        .sky2 {
          position: absolute;
          bottom: -5rem;
          right: 50px;
          z-index: -1;
          img {
            width: 20rem;
          }
        }
      }
    }
  }

  &__second-content {
    &-wrapper {
      width: 100%;
      margin: 0 auto;
      @include responsive(SM) {
        width: 83.33333%;
      }
      @include responsive(MD) {
        width: 66.66667%;
      }
    }
    background-color: $primary-colors;
    padding: $space-xl2 0;
    color: map-get($map: $colors, $key: 'white');
    text-align: center;
    margin-bottom: $space-xl2;
    h3 {
      font-size: $text-xxl;
      color: map-get($map: $colors, $key: 'white');
      font-weight: 900;
      line-height: 1.25;
      margin-bottom: $space-sm2;
    }
    p {
      margin-bottom: $space-sm2;
    }
    iframe {
      width: 325px;
      height: 183px;
      @include responsive(XS) {
        width: 530px;
        height: 298px;
      }
      @include responsive(SM) {
        width: 548px;
        height: 308px;
      }
      @include responsive(MD) {
        width: 599px;
        height: 337px;
      }
      @include responsive(XXL) {
        width: 560px;
        height: 315px;
      }
    }

    @include responsive(XXL) {
      h3,
      p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__third-content {
    margin-bottom: $space-md2;

    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    h2 {
      font-weight: 900;
      text-align: center;
      margin-bottom: $space-xl2;
      line-height: 1.25;
    }
    h4 {
      font-size: $text-xl;
      font-weight: 600;
      margin-bottom: $space-sm;
      line-height: 1.2;
    }

    .financialscreen__content {
      flex-direction: column;
      @include responsive(XS) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__col {
        max-width: 100%;
        flex: 1;
        margin-bottom: 6.4rem;
        @include responsive(XS) {
          max-width: 50%;
          flex: 0 0 50%;
        }
        @include responsive(MD) {
          max-width: 33.3333%;
          flex: 0 0 50%;
        }
      }
      h3 {
        text-align: left;
        margin-bottom: $space-sm2;
      }

      &-image {
        margin-bottom: $space-sm2;
        width: 100%;
      }

      .no-reverse {
        flex-direction: column;
      }
    }
  }

  &__four-content {
    .financialscreen__four-content-wrapper {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: $space-xl2;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }

    .financialscreen__content {
      flex-direction: column-reverse;

      @include responsive(MD) {
        flex-direction: row-reverse;
      }
      h2 {
        font-weight: 900;
        line-height: 1.25;
      }

      h4 {
        font-size: $text-xl;
        font-weight: 900;
        line-height: 1.25;
      }

      button {
        padding: $space-xs2 $space-md;
        font-weight: 900;
        font-size: $text-sm;
        margin-top: $space-md2;
        span {
          line-height: 1.4;
        }
      }

      &__col {
        h2 {
          margin-bottom: $space-sm;
        }
        h4 {
          margin-bottom: $space-sm;
        }
        max-width: 100%;
      }
      &__col-image {
        width: 100%;
        margin-bottom: $space-lg;
      }
    }

    .no-reverse {
      @include responsive(MD) {
        flex-direction: row;
      }
    }
  }

  &__five-content {
    padding: $space-xl2 0;
    background-color: map-get($map: $colors, $key: 'light-green');
    text-align: center;
    margin-bottom: $space-xl2;

    h2,
    p {
      font-weight: 900;
      line-height: 1.25;
      color: map-get($map: $colors, $key: 'white');
      margin-bottom: $space-sm2;
    }
    h2 {
      font-size: $space-md2;
      @include responsive(SM) {
        font-size: $text-xxxl;
      }
    }
    p {
      font-size: $space-md;
    }
    button {
      padding: $space-xs2 $space-md;
      font-weight: 900;
      font-size: $text-sm;
    }
  }

  &__list-card-content {
    margin: $space-xl2 0;
    &__wrapper {
      width: 100%;
      margin: 0 auto;
      @include responsive(XXL) {
        width: 83.33333%;
      }
    }
    &__title {
      font-size: $text-xxl;
      font-weight: 900;
      margin-bottom: $space-lg;
      span {
        color: map-get($map: $colors, $key: 'green');
      }
    }
    &__list-item {
      h3 {
        font-size: $text-md;
        color: map-get($map: $colors, $key: 'white');
        font-weight: 600;
      }
      p {
        font-size: $text-md;
      }
    }
    &__item {
      margin-top: $space-sm2;
    }
    .new-card-content__content {
      p {
        line-height: 1.4;
        font-size: $text-md;
        &:first-child {
          margin-bottom: $space-sm2;
        }
      }
    }
  }
}
