@import 'styles/main.scss';

.ant-radio-group {
  display: flex;
  flex-wrap: wrap;
  max-width: 55rem;
  margin: 0 auto;
  .ant-radio-button-wrapper {
    width: 100%;
    background-color: map-get($map: $colors, $key: 'white');
    margin-bottom: $space-xs2;
    padding: $space-xs2;
    height: 5rem;
    font-size: $text-lg;
    font-weight: 400;
    border-radius: $radius-xs;
    box-shadow: 3px 3px 8px #d0d0d0 !important;
    border: none !important;
    outline: none !important;
    border-color: none !important;
    &:before {
      display: none !important;
    }
    &:hover {
      color: map-get($map: $colors, $key: 'black');
    }
  }
  .ant-radio-button-wrapper {
    text-align: center;
  }
  .ant-radio-button-wrapper-checked {
    background-color: $primary-colors !important;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    display: none;
  }
}
