@import 'styles/main.scss';

.header-auth {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  background-color: map-get($map: $colors, $key: 'white');
  z-index: 50;

  h3,
  p {
    color: map-get($map: $colors, $key: 'black');
  }
  button {
    width: 100%;
    padding: 1.2rem $space-md;
    font-weight: normal !important;
    height: 4.3rem;
    background-color: $primary-colors !important;
    color: map-get($map: $colors, $key: 'white') !important;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .overlay-blur {
    filter: blur(4px);

    @include responsive(SM) {
      filter: unset;
    }
  }
  .mb-0 {
    margin-bottom: 0;
  }

  .focused {
    top: 0.5rem !important;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    span {
      width: 4.8rem;
    }
    a:before {
      height: 0;
    }
    &-back {
      padding-left: $space-xs;
      font-size: $text-md;
      display: flex;
      align-items: center;
      width: 6rem;
      p {
        display: none;
        font-size: $text-xs;
        line-height: $text-md;
        padding-left: 0.4rem;
        @include responsive(SM) {
          display: block;
        }
      }
    }
    &-logo {
      width: 90px;
      height: 28px;
    }
  }
  &__navbar-mobile {
  }
  &__sidebar-mobile {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 3;
    opacity: 90% !important;

    @include responsive(SM) {
      width: 30rem;
      right: 0;
      top: 0;
      bottom: 0;
      left: unset;
    }
    @include responsive(MD) {
      box-shadow: 25px 25px 20px 20px map-get($map: $colors, $key: 'green');
    }
    .header-auth__header-logo {
      @include responsive(SM) {
        display: none;
      }
    }
  }
  &__sidebar-menu {
    display: flex;
    flex-direction: column;
    background: white;
    a {
      text-align: left;
      padding: 20px 35px;
      color: map-get($map: $colors, $key: 'black');
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      text-decoration: none;
      font-size: $text-sm;
      &::before {
        height: 0;
      }
    }
    a:hover {
      background-color: $primary-colors;
      color: map-get($map: $colors, $key: 'white');
    }
    .sign-out {
      cursor: pointer;
      text-align: center;
      color: map-get($map: $colors, $key: 'black');
      font-size: $text-sm;
      padding: $space-sm2 0;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin-right: $space-xs;
      }
    }
  }
}

// custom ant design
.ant-form-item-explain {
  text-align: left;
  font-style: italic;
  margin-bottom: 0.4rem;
}
